#stories-list.stories
  %h2.titles
    = t('story').pluralize
  #stories
    = render 'dashboard/stories/list', project: @projects.first unless @projects.blank?
//#sidebar.col-md-4
//  = render 'dashboard/stories/project', project: @projects.first unless @projects.blank?
