@import 'poker_colors';

#authenticated {
  background-color: $authenticated_background;
  color: $authenticated_text;

  #header {
    background: $green;
    padding: 5px 20px 0;

    h1 {
      font-family: 'Rokkitt', serif;
      margin: 0;
      padding: 10px;
      font-size: 28pt;
      color: $white;

      span {
        &.logo {
          font-size: 14px;
        }
      }
    }

    .header-links {
      margin: 5px 0;
      font-size: 12px;
      text-transform: uppercase;
    }

    .dropdown {
      width: 200px;
      margin: 0 auto;

      #menu-compact {
        background: $menu_background;
        color: $menu_text;
        display: none;
        font-size: 12px;
        font-weight: bold;
        width: 100%;
        padding-top: 10px;

        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  #content {
    margin: 20px 0;
  }

  #sidebar {
    padding-right: 0;
  }

  #menu {
    display: block;
    padding-left: 0;
    margin: 0;

    #more-projects {
      cursor: pointer;
    }

    > li {
      padding: 5px 10px;
      list-style: none;
      margin: 0 5px;
      float: left;
      font-weight: bold;
      font-size: 12px;
      text-shadow: 1px 1px 1px $menu_text_shadow;

      &.active {
        -moz-border-radius-topleft: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        background-color: $menu_active_background;
        color: $menu_active_text;
        text-shadow: 1px 1px 1px $menu_active_text_shadow;

        a { color: $more_projects_caret; &:hover { text-decoration: none; }}

        .more-projects {
          .dropdown-toggle, .caret {
            color: $more_projects_caret;
          }
        }
      }

      a { color: $menu_inactive_text; }

      .more-projects {
        display: block;

        .dropdown-toggle, .caret {
          color: $menu_inactive_text;
        }

        &.open {
          .dropdown-toggle {
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
  }

  .project-dropdown li {
    &.active {
      a { background: $project_dropdown_background; }
    }

    a {
      color: $project_dropdown_text !important;
      text-shadow: none;
      font-size: 11px;
      padding: 10px 20px;
    }
  }

  #sub-menu {
    background: $sub_menu_background;
    box-shadow: 1px 1px 5px $sub_menu_shadow;
    border-bottom: 1px solid $sub_menu_border_bottom;
    padding: 10px;

    li {
      float: left;
      margin: 0 5px;
      list-style: none;
      color: $sub_menu_text;
      font-size: 11px;
      padding: 5px 10px;
      cursor: pointer;

      &.selected {
        background-color: $sub_menu_selected_background_color;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        color: $sub_menu_selected_text;
      }
    }
  }

  .stories {
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;

    border: 1px solid $stories_border;
    padding: 0;

    .story {
      font-size: 12px;

      background-color: $story_background_color;
      border-bottom: 1px solid $story_border_bottom;
      border-top: 1px solid $story_border_top;

      .story-overview {
        padding: 10px;
      }
    }

    .story-icons {
      width: 10%;
      min-width: 65px;
      max-width: 65px;

      a:hover {
        text-decoration: none;
      }
    }

    .story-description {
      width: 90%;
    }

    .story-icon {
      width: 30%;
    }

    .story-unstarted, .story-unscheduled {
      background-color: $story_unstarted_background;
      border-bottom: 1px solid $story_unstarted_border_bottom;
    }

    .story-rejected {
      background-color: $story_rejected_background_color;
      border-bottom: 1px solid $story_rejected_border_bottom;
    }
  }

  .icon-bar {
    display: block;
    width: 10px;
    height: 2px;
    background-color: $icon_bar_background_color;
    margin-bottom: 1px;
  }

  .expand, .collapse {
    font-size: .75em;
    color: $expand_collapse_text;
    text-shadow: 0px -1px $expand_collapse_text_shadow;
    cursor: pointer;
  }

  .collapse {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 0;
  }

  .titles {
    background-color: $titles_background;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    color: $titles_text;
    line-height: 27px;
    overflow: hidden;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }

  .story-detail {
    background-color: $story_detail_background;

    background-image: -webkit-gradient(
      linear, 0 0, 100% 100%,
      color-stop(0.25, rgba(255, 255, 255, 0.2)),
      color-stop(0.25, rgba(0, 0, 0, 0)),
      color-stop(0.5, rgba(0, 0, 0, 0)),
      color-stop(0.5, rgba(255, 255, 255, 0.2)),
      color-stop(0.75, rgba(255, 255, 255, 0.2)),
      color-stop(0.75, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent);
    background-image: -ms-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent);
    background-image: -o-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent);
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0));

    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    background-size: 5px 5px;

    box-shadow: inset 0px 0px 8px $story_detail_box_shadow;

    padding: 10px;
    position: relative;

    &.updated {
      background-color: $story_detail_updated;
    }

    textarea {
      font-size: 11px;
    }

    .project-name {
      margin-left: 15px;
    }

    .story-info {
      list-style-type: none;
      background-color: $story_detail_info_background;
      border: 1px solid $story_detail_info_border;
      border-bottom: none;
      padding: 0;

      li {
        border-top: 1px solid $story_detail_info_item_border_top;
        border-bottom: 1px solid $story_detail_info_item_border_bottom;
        font-size: 11px;
        padding: 5px 10px;
        color: $story_detail_info_item_text;
      }
    }
  }

  .default-state {
    margin: 5% 0;

    .fa {
      font-size: 20em;
      color: $default_state_fa;
    }

    h2 {
      color: $default_state_heading_text;

      small {
        display: block;
        color: $default_state_heading_small_text;
        margin: 5px 0;
      }
    }
  }

  .story-labels { text-transform: uppercase; }

  .widget {
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;

    border: 1px solid $widget_border;
    padding: 0;

    ul {
      padding: 0;
      margin: 0;

      li {
        overflow: hidden;
        font-size: 11px;
        color: $authenticated_widget_ul_li_color;
        background-color: $authenticated_widget_ul_li_background_color;
        border-bottom: 1px solid $authenticated_widget_ul_li_border_bottom;
        list-style-type: none;
        padding: 10px;
      }
    }
  }

  .cards {
    padding: 10px 5px;
    background: $authenticated_cards_background;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    ul {
      margin: 0;
      padding: 0 5px;

      li {
        list-style-type: none;
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin: 5px;

        .card {
          background-color: $authenticated_cards_ul_li_card_background_color;
          border: 5px solid $authenticated_cards_ul_li_card_border;
          min-width: 90px;
          min-height: 100px;
          display: inline-block;
          zoom: 1;
          *display: inline;
          color: $authenticated_cards_ul_li_card_color;
          text-align: center;
          padding: 10px;
          vertical-align: top;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;

          &.card-blank {
            background-color: $authenticated_cards_ul_li_card_card_blank_background_color;
            border: 5px solid $authenticated_cards_ul_li_card_card_blank_border;
            color: $authenticated_cards_ul_li_card_card_blank_color;
          }

          &.card-hidden {
            background: $authenticated_cards_ul_li_card_card_hidden_background;
            border-color: $authenticated_cards_ul_li_card_card_hidden_border_color;
          }

          &.card-revealed {
            cursor: pointer;

            &.card-selected, &:hover {
              background: $authenticated_cards_ul_li_card_card_revealed_background;
              border-color: $authenticated_cards_ul_li_card_card_revealed_border_color;
            }
          }

          .vote-value {
            font-size: 32px;
            font-weight: bold;
            padding: 5px 0px 0px 0px;
            margin: 0px;
          }

          .voter {
            font-size: 14px;
          }
        }
      }
    }
  }

  .btn-votes {
    margin: 10px 0 20px;
  }

  @media all and (max-width: 991px) {
    #header {
      h1 {
        text-align: center;
        font-size: 30px;
      }

      #header-links {
        margin-bottom: 10px;
        text-align: center;
      }

      #menu {
        display: none;
      }

      .dropdown {
        #menu-compact {
          display: block;
        }
      }
    }

    #sidebar {
      margin: 20px 0;
      padding: 0;
    }
  }
}