@import 'poker_colors';

$text: #888;
$background: $green;
$header_background: #FFF;
$header_span_text: #C72543;
$header_text: $green;
$signin_box_background: #E9E9E9;

#unauthenticated {
  background-color: $background;
  color: $text;

  #header {
    background: $header_background;
    padding: 5px 20px;

    h1 {
      font-family: 'Rokkitt', serif;
      margin: 0;
      padding: 0;
      font-size: 36px;
      color: $green;

      span {
        color: $header_span_text;

        &.logo {
          font-size: 20px;
        }
      }
    }
  }

  #signin-box {
    background-color: $signin_box_background;
    padding: 25px 30px;
    margin-top: 10%;

    h1 {
      background-image: asset-url('pivotal-tracker.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      display: block;
      width: 280px;
      height: 45px;
      margin: 20px 0;
      text-indent: -999em;
      overflow: hidden;
    }
  }
}